<h1>Dữ liệu sinh viên: @ViewBag.message</h1>
<form asp-action="Index">
    <input type="text" name="StudentID" placeholder="Nhap ma sinh vien">
    <input type="text" name="FullName" placeholder="Nhap ho ten">

    <input type="submit" value="Send data">
</form>